### Imports
Import the required libraries

In [1]:
# package(s) related to time, space and id
import datetime, time
import platform
import itertools
# Used for mathematical functions
import math             
import logging

# you need these dependencies (you can get these from anaconda)
# package(s) related to the simulation
import simpy
import pandas as pd

# spatial libraries 
# import pyproj
# import shapely.geometry
# from simplekml import Kml, Style

# package(s) for data handling
import numpy as np
import matplotlib.pyplot as plt
import tqdm


import plotly.express as px
from plotly.subplots import make_subplots

# OpenTNSim
import opentnsim

# turn on debug messages if want to see what's going on in detail
# logging.basicConfig(level=logging.DEBUG)
# turn off debug messages, only show info and higher level messages
logging.basicConfig(level=logging.INFO)

### Create vessel - add VesselProperties and ConsumesEnergy mixins

In [2]:
# Make your preferred class out of available mix-ins.
TransportResource = type(
    "Vessel",
    (
        opentnsim.core.Identifiable,
        opentnsim.core.Movable,
        opentnsim.core.VesselProperties,  # needed to add vessel properties
        opentnsim.energy.ConsumesEnergy,
        opentnsim.core.ExtraMetadata,
    ),
    {},
)  # needed to calculate resistances

In [3]:
# Create a dict with all important settings

data_vessel = {
    "env": None,
    "name": 'Vessel M6',
    "route": None,
    "geometry": None,
    "v": None,  # m/s
    "V_g_ave":3,
    "V_g_profile":False,
    "type": None,
    "B": 9.5,
    "L": 85,
    "H_e": None, 
    "H_f": None, 
    "T": 2,
    "safety_margin": 0.3, # for tanker vessel with rocky bed the safety margin is recommended as 0.3 m
    "h_squat": False, # if consider the ship squatting while moving, set to True, otherwise set to False. Note that here we have disabled h_squat calculation since we regard the water depth h_0 is already reduced by squat effect. This applies to figures 3, 5, 7, 8 and 9.
    "payload":None,
    "vessel_type":"Dry_DH", #vessel types: "Container","Dry_SH","Dry_DH","Barge","Tanker". ("Dry_SH" means dry bulk single hull, "Dry_DH" means dry bulk double hull)    
    "P_installed": 780.0,   
    "P_tot_given": None, # kW
    "P_tot_given_profile":False,
    "bulbous_bow": False, # if a vessel has no bulbous_bow, set to False; otherwise set to True.
    "sailing_on_power": False,
    "sailing_upstream":False,
    "wind_influence": False,
    "P_hotel_perc": 0,
    "P_hotel": None, # None: calculate P_hotel from percentage
    "x": 1,# number of propellers
    "L_w": 2.0 ,
    "C_B":0.85, 
    "C_year": 1961,
}

In [4]:
data_vessel_i = data_vessel.copy()
vessel = TransportResource(**data_vessel_i)

### Set vessel properties and sailing conditions ( input value )

In [5]:
V_s = np.linspace(2.5, 5.5, 15)          # ship sailing speeds to water, (m/s)
h_0 = [3,3.3,4.2,5,8]                 # water depths,(m)
T = [2]   # draught

### prepare input matrix for calculation

In [6]:
# prepare the work to be done
# create a list of all combinations
work = list(itertools.product(T, h_0, V_s))

# prepare a list of dictionaries for pandas
rows = []
for item in work:
    row = {"T": item[0], "h_0": item[1], "V_s": item[2]}
    rows.append(row)

# these are all the simulations that we want to run
# convert them to dataframe, so that we can apply a function and monitor progress
work_df = pd.DataFrame(rows)
work_df.tail()

    T  h_0       V_s
70  2  8.0  4.642857
71  2  8.0  4.857143
72  2  8.0  5.071429
73  2  8.0  5.285714
74  2  8.0  5.500000

### Run OpenTNSim to Calculate resistance, required power and emissions

In [7]:

results = []

for i, row in tqdm.tqdm(work_df.iterrows()):
    # create a new vessel, like the one above (so that it also has L)
    
    data_vessel_i = data_vessel.copy()
    
    vessel = TransportResource(**data_vessel_i)
    vessel._T = row['T']
    V_s = row['V_s']
    h_0 = row['h_0']
    vessel.calculate_properties() # L is used here in the computation of L_R
    # h_0 = vessel.calculate_h_squat(v = V_s, h_0 = h_0)
    # print(h_0)
    R_f = vessel.calculate_frictional_resistance(V_s, h_0) 
    R_f_one_k1 = vessel.calculate_viscous_resistance()
    R_APP = vessel.calculate_appendage_resistance(V_s)
    R_W = vessel.calculate_wave_resistance(V_s, h_0)
    R_res = vessel.calculate_residual_resistance(V_s, h_0)
    R_T = vessel.calculate_total_resistance(V_s, h_0)
    P_tot = vessel.calculate_total_power_required(V_s, h_0)

    
    result = {}
    result.update(row)
    result['P_installed'] = vessel.P_installed
    result['R_f'] = R_f
    result['R_f_one_k1'] = R_f_one_k1
    result['R_APP'] = R_APP
    result['R_W'] = R_W
    result['R_res'] = R_res
    result['R_T'] = R_T
    result['P_tot'] = P_tot

    results.append(result)

75it [00:00, 1002.07it/s]

In [9]:
plot_df = pd.DataFrame(results)


# convert from meters per second to km per hour
ms_to_kmh = 3.6
plot_df['V_s_km'] = plot_df['V_s'] * ms_to_kmh

plot_df.head(50)

,T,h_0,V_s,P_installed,R_f,R_f_one_k1,R_APP,R_W,R_res,R_T,P_tot,V_s_km
0,2.0,3.0,2.500000,780.0,6.497648,7.977764,0.812206,0.064543,3.759200,12.613713,"(52.55713667545233, 52.55713667545233, 52.5571...",9.000000
1,2.0,3.0,2.714286,780.0,7.563447,9.286345,0.945431,0.148854,4.372217,14.752847,"(66.73906923589594, 66.73906923589594, 66.7390...",9.771429
2,2.0,3.0,2.928571,780.0,8.703670,10.686303,1.087959,0.305482,5.021093,17.100836,"(83.46836480067621, 83.46836480067621, 83.4683...",10.542857
3,2.0,3.0,3.142857,780.0,9.917581,12.176733,1.239698,0.570902,5.703619,19.690951,"(103.14307560778167, 103.14307560778167, 103.1...",11.314286
4,2.0,3.0,3.357143,780.0,11.204504,13.756807,1.400563,0.989787,6.417588,22.564745,"(126.255121380014, 126.255121380014, 126.25512...",12.085714
...,...,...,...,...,...,...,...,...,...,...,...,...
70,2.0,8.0,4.642857,780.0,18.487025,22.698234,2.310878,9.360112,11.238076,45.607300,"(352.9136333638783, 352.9136333638783, 352.913...",16.714286
71,2.0,8.0,4.857143,780.0,20.108989,24.689670,2.513624,13.006671,12.110330,52.320295,"(423.54524520359604, 423.54524520359604, 423.5...",17.485714
72,2.0,8.0,5.071429,780.0,21.794413,26.759020,2.724302,15.229607,12.996366,57.709295,"(487.78094967993763, 487.78094967993763, 487.7...",18.257143
73,2.0,8.0,5.285714,780.0,23.542971,28.905888,2.942871,21.327726,13.893976,67.070462,"(590.8588281178912, 590.8588281178912, 590.858...",19.028571
74,2.0,8.0,5.500000,780.0,25.354358,31.129895,3.169295,24.639982,14.800952,73.740123,"(675.9511273359091, 675.9511273359091, 675.951...",19.800000